# Игнорировать системные файлы
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.bak

# Игнорировать Git-репозиторий
.git
.gitignore

# Игнорировать конфигурационные файлы IDE и редакторов
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Игнорировать файлы окружения
.env
*.env

# Игнорировать тестовые данные и временные файлы
/tests/
*.log
*.tmp
